body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #2d2d2d;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: 100px;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  cursor: pointer;
  transition: all 250ms;
}

.game {
  display: flex;
  flex-direction: row;
}